<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container content">
    <h1>Welcome to the Button Clicking Project!</h1>
    <p>Click the button below to start the fun.</p>
    <button id="clickButton">{{ request.user.userpreference.button_text }}</button>
    <p>Button clicked <span id="clickCount">{{ click_count }}</span> times.</p>
    <p> 
        <a href="{% url 'leaderboard' %}">Leaderboard</a> | 
        <a href="{% url 'register' %}">Register</a> | 
        <a href="{% url 'login' %}">Login</a> 
    </p>
    </div>

    <script>
        const clickButton = document.getElementById('clickButton');
        const clickCountDisplay = document.getElementById('clickCount');

        clickButton.addEventListener('click', () => {
            fetch("{% url 'increment_click_count' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                if (data.click_count !== undefined) {
                    clickCountDisplay.textContent = data.click_count;
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
