<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <form method="post">
        <h1>Register</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        <button type="submit">Register</button>
    </form>
    
</body>
</html>
