
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Button Text</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <form method="post">
        <h1>Update Your Button Text</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        
        <a href="{% url 'delete_preference' %}">Delete Preference</a>
        
    </form>
</body>
</html>
