/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 25px; /* Increase the gap between elements */
    align-items: stretch; /* Ensure elements take up full width */
}

h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
   
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Increase the gap between form elements */
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 15px 20px; /* Increase the padding for the button */
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px; /* Add margin to give more space around the button */
}

button:hover {
    background-color: #555;
}

p {
    color: #666;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th, td {
    padding: 12px 15px; /* Add padding to table cells */
    border: 1px solid #ddd; /* Add a light border */
    text-align: left; /* Align text to the left */
}

th {
    background-color: #333; /* Set background color for header cells */
    color: white; /* Set text clean color for header cells */
    font-weight: bold; /* Make header text bold */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Add alternating row colors */
}

tr:hover {
    background-color: #f1f1f1; /* Add hover effect */
}
